.mod_openstreetmap_iframe {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mod_openstreetmap_iframe iframe {
  width: 100%;
  min-height: 1em;
  border: 0.25em solid #ddd;
  display: block;
}
.mod_openstreetmap_iframe iframe[width] {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
