.mod_openstreetmap_iframe {
	margin-top: 1em ;
	margin-bottom: 1em ;

	iframe {
		width: 100% ;
		min-height: 1em ;
		border: 0.25em solid #ddd;
		display: block;

		&[width] {
			max-width: 100% ;
		}
	}
}
